<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Proyecto Final</h1>
    <h2>Tercera Entrega</h2>
    <h3>Productos</h3>
    <ul>
      <li>
        (GET) Productos (<a href="http://localhost:8080/api/productos"
          >/api/productos</a
        >)
      </li>
      <li>
        (GET por ID) Producto (<a href="http://localhost:8080/api/productos/1"
          >/api/productos/1</a
        >)
      </li>
      <li>
        Los otros metodos ejecutar por archivo productos.rest en carpeta tests
      </li>
    </ul>
    <br />
    <h3>Carrito de Compras</h3>
    <ul>
      <li>
        (GET) Carrito (<a href="http://localhost:8080/api/carrito"
          >/api/carrito</a
        >)
      </li>
      <li>
        (GET por ID) Carrito (<a href="http://localhost:8080/api/carrito/1"
          >/api/carrito/1</a
        >)
      </li>
      <li>
        Los otros metodos ejecutar por archivo carrito.rest en carpeta tests
      </li>
    </ul>
    <form class="row g-3" method="post" action="/logout">
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Desloguear</button>
      </div>
    </form>
  </body>
</html>
